# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
out
bin

# IntelliJ
.idea

# Java
.cache-main
.cache-tests
*.iml
*.ipr
*.iws
target
conf
testdata
data
TODOs*
/runtime-*
